.places {
  margin: 50px auto 0;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  grid-template-rows: repeat(auto-fit, 361px);
  grid-template-columns: repeat(3, 282px);
  justify-content: center;
  max-width: 880px;
}


@media (max-width: 910px) {
  .places {
    grid-template-columns: repeat(2, 282px);
  }
}

@media (max-width: 680px) {
  .places {
    grid-template-columns: repeat(1, 282px);
    margin-top: 36px;
  }
}